.elementor-template-full-width .site-content>.container,
.elementor-template-full-width .site-content>.container-fluid {
    max-width: 100%;
    padding: 0px;
}

.elementor-editor-active .user-link-wrap .user-link,
.elmentor-banner-button {
    max-width: 210px;
    margin: auto;
}

@media (min-width: 768px) {
    .counter-image:after {
        content: ' ';
        width: 1px;
        height: 80%;
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 15px;
        right: 0px;
    }
}


/* Paste this css to your style sheet file or under head tag */


/* This only works with JavaScript,
if it's not present, don't show loader */

.rg-page-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/svg/puff.svg) center no-repeat var(--reign-color-white);
    transition: 0.3s all;

    .rg-remove-loader & {
        opacity: 0;
        visibility: hidden;
        z-index: -1111;
    }
}

.elementor-editor-active .rg-page-loader,
.elementor-editor-preview .rg-page-loader {
    display: none;
}

.elementor-text-editor p {
    margin-bottom: 0;
}

.elementor-text-editor.elementor-text-editor p {
    color: inherit;
}

.elementor-default .main-navigation ul li.menu-item-has-children ul li {
    background: transparent !important;
}


/* elementor svg icon size */

.svg-icon-small {
    max-width: 40px;
    height: auto;
    margin: auto;
}

.svg-icon-small-left {
    max-width: 40px;
    height: auto;
}

.svg-icon-medium {
    max-width: 50px;
    height: auto;
    margin: auto;
}

.svg-icon-medium-left {
    max-width: 50px;
    height: auto;
}

.svg-icon-large-center {
    max-width: 72px;
    height: auto;
    margin: auto;
}

.svg-icon-large-left {
    max-width: 72px;
    height: auto;
}

/**
 * Box Model, Html & Body
 */

[canvas=container] {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Left Panel with Elementor Page
 */

@media screen and (min-width: 960px) {

    body:not(.elementor-template-canvas):not(.rg-shift-body) .reign-menu-panel+#page .elementor-section-boxed[style*=width],
    body:not(.elementor-template-canvas):not(.rg-shift-body) .reign-menu-panel+#page .elementor-section-full_width[style*=width],
    body:not(.elementor-template-canvas):not(.rg-shift-body) .reign-menu-panel+#page .elementor-section-stretched[style*=width] {
        padding-left: 80px;
    }
}

/**
 * Elementor Page with customizer
 */

.wb-grid>style {
    display: none;
}

/* Beaver/Divi Builder */
.fl-builder,
.et_pb_pagebuilder_layout {
    .site-content {
        padding-top: 0 !important;
    }

    .content-wrapper {
        padding-bottom: 0 !important;
    }
}