*,
*::before,
*::after {
    box-sizing: border-box;
}

/* tooltip css */

.rtm-tooltip-wrap {
    text-align: right;
    float: right;
    width: 100%;
    max-width: 300px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rtm-tooltip-image {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
}

.rtm-tooltip-label {
    color: #5f5f5f;
    margin: 0 0 5px;
}

.rtm-tooltiptext {
    font-size: 12px;
    color: #797979;
    line-height: 15px;
    font-style: italic;
    font-weight: normal;
    margin-left: 30px;
    clear: right;
}

.rtm-left-side {
    width: 300px;
}

/* Style for quick links section :: start */

.reign-option-boxes {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 40px;
}

@media (min-width: 783px) {
    .reign-option-boxes {
        grid-template-columns: repeat(3, 1fr);
    }
}

.reign-option-downloads-wrapper .reign-option-boxes {
    display: grid;
    grid-column-gap: 35px;
    margin: 40px 0 0 0;
}

.reign-option-info-wrapper.reign-option-downloads-wrapper {
    margin-bottom: 40px;
}

@media (min-width: 783px) {
    .reign-option-downloads-wrapper .reign-option-boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .reign-option-tutorials-wrapper .reign-option-boxes {
        grid-template-columns: 1fr;
    }
}

.reign-option-box {
    margin: 0;
    padding: 25px;
    text-align: center;
    background: #fdfdfd;
    border-radius: 12px;
    border: 1px solid rgba(226, 230, 235, .7);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.reign-option-box:hover {
    box-shadow: 0 10px 25px rgba(143, 163, 184, .12);
}

.reign-option-box .option-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.option-icon {
    width: 85px;
    margin: 0 auto;
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f2f8ff;
    border-radius: 100px;
}

.reign-option-box .option-wrapper .option-icon svg {
    width: 35px;
    height: 35px;
    margin: auto;
}

.reign-option-box .option-wrapper .option-title {
    font-size: 1.1em;
    margin: 1.5em 0 0.5em;
    color: #3e5667;
}

.reign-option-box .option-wrapper .option-desc {
    font-size: 15px;
    line-height: 1.6;
    margin: 10px 0 30px 0;
}

.reign-option-box .option-wrapper .option-link-area {
    margin-top: auto;
}

.reign-option-box .option-wrapper .option-link-area a.option-link {
    color: rgba(46, 68, 83, .8);
    background: #fff;
    border-color: #e2e6eb;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 38px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    letter-spacing: .01em;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    -webkit-transition: color .2s ease, background .2s ease, -webkit-transform .2s ease, border-color .2s ease, box-shadow .2s ease;
    transition: color .2s ease, background .2s ease, transform .2s ease, border-color .2s ease, box-shadow .2s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .04);
}

.reign-option-box .option-wrapper .option-link-area a.option-link::after {
    content: "→";
    margin-right: 5px;
}

.reign-option-box .option-wrapper .option-link-area a.option-link:hover {
    color: #2e4453;
    border-color: rgba(190, 196, 203, .7);
}

.reign-option-box .option-wrapper a.option-link.all-plugin-installed {
    color: #fff !important;
    background: #0957d0 !important;
    border-color: #0957CF !important;
}

.reign-option-box .option-wrapper a.option-link.all-plugin-installed:after {
    content: "\f12a";
    font-family: dashicons;
    font-size: 18px;
}


@media (max-width: 543px) {
    .reign-option-box {
        max-width: 100%;
    }

    .reign-support-faq-inner {
        padding: 30px 0;
    }

    .reign-option-support-container {
        padding: 30px;
    }

    .reign-option-support-container .option-link-area {
        display: block !important;
    }

    .reign-option-support-container .option-link-area a.option-link {
        margin-bottom: 15px;
    }

    .greetings-texts h1 {
        font-size: 25px;
    }

    .reign-greetings {
        padding: 30px 30px 20px;
        border-bottom: 1px solid #ddd;
    }

    .reign-option-info-wrapper.reign-option-tutorials-wrapper .reign-option-boxes,
    .reign-option-box.reign-theme-videos {
        display: block !important;
    }

    .reign-option-box.reign-theme-videos .option-wrapper,
    .reign-theme-video {
        width: 100% !important;
        padding-right: 0 !important;
    }
}

/* Style for quick links section :: end */

/*Reign theme video*/
.reign-option-box.reign-theme-videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #fcfcfc;
    box-shadow: none;
}

.reign-theme-video {
    width: 50%;
}

.reign-theme-video .fluid-width-video-wrapper {
    padding-top: 65% !important;
}

.reign-theme-video iframe {
    width: 100%;
    height: 100%;
    border: 3px solid #eee;
    border-radius: 15px;
}

.reign-option-box.reign-theme-videos .option-wrapper {
    width: 50%;
    padding-right: 40px;
    text-align: right;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.reign-option-box.reign-theme-videos .option-wrapper .option-title {
    font-size: 1.5em;
    margin: 1.5em 0 .3em;
    font-weight: 600;
}

.reign-option-box.reign-theme-videos .option-wrapper .option-link-area {
    margin: 0;
}


/* Style the reign-tab */

.wrap.reign-theme-admin-wrap .notice,
.wrap.reign-theme-admin-wrap .error {
    display: none !important;
}

.reign-theme-admin-wrap {
    font-size: 15px;
    color: #687c93;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 15px;
    overflow: hidden;
    margin: 35px 15px 0 25px;
}

.reign-greetings {
    background: #f5f7f9;
    text-align: center;
    padding: 60px 30px;
    overflow: hidden;
}

/* .reign-greetings {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  margin: 1rem 0 0;
  padding: 1rem;
} */

.greetings-texts h1 {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    line-height: 1.2;
    font-size: 3em;
    font-weight: 700;
    color: #0957d0;
}

.greetings-texts .theme-version {
    font-size: 14px;
    display: inline-block;
    background: #0957d0;
    margin: 0;
    padding: 5px 20px;
    border-radius: 100px;
    color: #fff;
}

.greetings-texts .about-text {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
    color: #5d6d7f;
    max-width: 580px;
    margin: 25px auto 0 auto;
}

.reign-nav-tab-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-tab:focus,
.nav-tab:hover {
    border: none;
    background: transparent;
    box-shadow: none;
}

.reign-nav-tab-wrapper .nav-tab {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: none;
    border: none;
    border-bottom: none;
    margin-right: 0;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 30px;
    background: transparent;
    border-radius: 10px 10px 0 0;
}

.reign-nav-tab-wrapper .nav-tab-active,
.reign-nav-tab-wrapper .nav-tab-active:focus,
.reign-nav-tab-wrapper .nav-tab-active:focus:active,
.reign-nav-tab-wrapper .nav-tab:hover,
.reign-nav-tab-wrapper .nav-tab-active:hover {
    color: #1d76da;
    background: #fff;
    box-shadow: 0 -2px 20px rgba(220, 231, 238, .4);
}

.reign-nav-tab-wrapper {
    background: #f5f7f9 !important;
    border: 0;
}

.reign-nav-tab-wrapper .nav-tab {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reign-nav-tab-wrapper .nav-tab:not(:last-child) {
    margin-left: 10px;
}

.reign-nav-tab-wrapper a.nav-tab:before {
    display: block;
    font-family: 'dashicons';
    font-weight: 400;
    margin-left: 10px;
    line-height: 18px;
    font-size: 20px;
    text-align: center;
}

.reign-nav-tab-wrapper a.getting.started.nav-tab:before {
    content: "\f111";
}

.reign-nav-tab-wrapper a.peepso.settings.nav-tab:before {
    content: "\f307";
}

.reign-nav-tab-wrapper a.community.nav-tab:before {
    content: "\f307";
}

.reign-nav-tab-wrapper a.dark.mode.nav-tab:before {
    content: "\f169";
}

.reign-nav-tab-wrapper a.learndash.nav-tab:before {
    content: "\f118";
}

.reign-nav-tab-wrapper a.wc.vendors.nav-tab:before,
.reign-nav-tab-wrapper a.wcfm.marketplace.nav-tab:before {
    content: "\f174";
}

.reign-nav-tab-wrapper a.license.nav-tab:before {
    content: "\f107";
}

.reign-nav-tab-wrapper a.support.nav-tab:before {
    content: "\f125";
}

.reign-nav-tab-wrapper a.dokan.nav-tab:before {
    content: "\f513";
}

.reign-nav-tab-wrapper a.lifterlms.nav-tab:before {
    content: "\f330";
}

.reign-nav-tab-wrapper a.geodirectory.nav-tab:before {
    content: "\f11d";
}

.reign-nav-tab-wrapper a.wp.job.manager.nav-tab:before {
    content: "\f338";
}

#reign-theme-options-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0;
    background: #f5f7f9;
    border-radius: 12px;
    border: 1px solid rgba(226, 230, 235, .5);
    box-shadow: 0 2px 5px rgba(143, 163, 184, .1);
}

.reign-theme-options-wrapper .reign-option-info-wrapper.need-help-advice {
    max-width: 1300px;
    margin-top: 35px;
}

div.reign-tab {
    background-color: #fff;
    width: 300px;
    border-radius: 0 10px 10px 0;
}

button.reign-tablinks {
    position: relative;
}

.reign-option-info-wrapper {
    max-width: 1200px;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
}

.reign-option-downloads-wrapper {
    margin: 50px auto;
}

.reign-option-info-wrapper .reign-option-info {
    font-size: 16px;
    color: #3e5566;
    text-align: center;
    margin: 0 0 1.5rem;
}

.reign-option-info h2 {
    font-size: 25px;
    margin: 0;
}

.reign-option-info-wrapper .reign-option-info p {
    font-size: 15px;
}

.reign-option-section {
    background: #fff;
    width: 100%;
    padding: 70px 30px;
    box-sizing: border-box;
}

.reign_license_page label.description,
.reign_support_faq label.description {
    font-weight: normal;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
    color: #646970;
}

.reign-settings-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 99;
}

.reign-settings-loader::before {
    content: "";
    background-image: url(../img/svg/preloader.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 50% 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/** Backend Reign Setting Icons Management **/

button.reign-tablinks:before {
    content: "\f111";
    font-family: dashicons;
    font-weight: normal;
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
}

button.reign-tablinks.reign_pages:before {
    content: "\f537";
}

button.reign-tablinks.custom_code:before {
    content: "\f475";
}

button.reign-tablinks.wp_login_screen:before {
    content: "\f528";
}

button.reign-tablinks.global_header_footer:before {
    content: "\f489";
}

button.reign-tablinks.avatar_settings:before {
    content: "\f110";
}

button.reign-tablinks.advanced_settings:before {
    content: "\f111";
}

button.reign-tablinks.group_cover_image:before {
    content: "\f128";
}

button.reign-tablinks.xprofile_cover_image:before {
    content: "\f128";
}

button.reign-tablinks.activity_action_control:before {
    content: "\f108";
}

button.reign-tablinks.xprofile_social_links:before {
    content: "\f125";
}

button.bp_layout_mgmt:before {
    content: "\f535";
}

/* Icons set for PeepSo */

button.peepso_group_cover_image:before {
    content: "\f128";
}

button.peepso_profile_cover_image:before {
    content: "\f128";
}

button.peepso_layout_mgmt:before {
    content: "\f535";
}

button.peepso_profile_social_links:before {
    content: "\f125";
}

/* Icons set for LifterLMS */

button.reign-tablinks.llms_related_course:before {
    content: "\f330";
}

/* Style the buttons inside the reign-tab */

div.reign-tab button {
    font-size: 14px;
    font-weight: 600;
    display: block;
    background-color: inherit;
    color: #687c93;
    margin: 15px;
    padding: 15px 10px;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    border: none;
    border: 1px solid rgba(226, 230, 235, .5);
    border-radius: 10px;
    outline: none;
    text-align: right;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* Create an active/current "reign-tab button" class */

div.reign-tab button:hover,
div.reign-tab button.active {
    position: relative;
    background-color: #1d76da;
    color: #fff;
}

/* Style the reign-tab content */

.reign-tabcontent {
    width: -webkit-calc(100% - 301px);
    width: calc(100% - 301px);
    background: #f5f7f9;
    padding: 1rem;
    border-radius: 10px;
}

.reign-tabcontent td.rtm-left-side:after {
    content: "";
    display: table;
    clear: both;
}

.reign-theme-admin-wrap .form-table label {
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.reign-theme-admin-wrap .form-table th,
.reign-theme-admin-wrap .form-wrap label {
    color: #444;
}

span.option-desc {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.5;
    font-style: italic;
}

.reign-tabcontent .form-table tr:not(:first-child) {
    border-top: 1px solid #dddee0;
}

.reign-tabcontent select {
    width: 100%;
    max-width: 100%;
    height: 40px;
    border-radius: 10px;
    border-color: #c1c3c6;
}

#reign-theme-options-form div.reign-tabcontent td input[type="text"],
#reign-theme-options-form div.reign-tabcontent td input[type=number] {
    max-width: 100%;
    height: 40px;
    border-radius: 10px;
    border-color: #c1c3c6;
    width: 100%;
}

.reign-theme-admin-wrap .form-table th {
    width: 290px;
    font-weight: 400;
}

img.reign-default-thumb {
    background: #fff;
    box-shadow: 0 -2px 20px rgba(220, 231, 238, .4);
    display: block;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ddd;
    position: relative;
}

img.reign_default_cover_image {
    margin-bottom: 20px;
}

@media (min-width:480px) {
    img.reign_default_cover_image {
        width: 100% !important;
        height: 230px !important;
        object-fit: cover;
    }
}

@media (max-width:479px) {
    img.reign_default_cover_image {
        width: 100% !important;
        height: 100% !important;
    }
}

img.reign_default_avatar_image {
    width: 120px !important;
    height: 120px !important;
    object-fit: cover;
}

.reign-tabcontent a.reign-remove-file-button,
.reign-tabcontent input#reign-upload-button,
.reign-tabcontent a.reign-remove-file-button,
.reign-tabcontent input#reign-upload-button {
    color: #fff !important;
    border: none !important;
    padding: 5px 25px;
    background: #1d76da !important;
    border-radius: 10px;
    font-size: 13px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    line-height: 30px;
    text-decoration: none !important;
}

.reign-tabcontent a.reign-remove-file-button,
.reign-tabcontent a.reign-remove-file-button {
    background: #e93c3e !important;
}

/* support accordion */

.ui-accordion-header {
    background: #ddd;
    padding: 20px 10px;
    margin: 0;
    margin-bottom: 5px;
    position: relative;
}

.ui-accordion-header:after {
    content: "\f502";
    font-family: 'dashicons';
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    float: left;
    cursor: pointer;
}

.wbtm_social_link_section .ui-accordion-header:after {
    font-size: 20px;
}

.ui-accordion-header.ui-state-active:after {
    content: "\f153";
}

.ui-accordion-header:focus {
    border: none;
    outline: none;
}

.ui-accordion-content {
    background: #fff;
    padding: 30px;
    margin: 0;
}

.ui-accordion-content p {
    font-size: 14px;
}

@media screen and (max-width: 782px) {
    #wpbody .reign-theme-admin-wrap .form-table td select {
        font-size: 14px;
        max-width: 185px;
        height: 36px;
    }

    .reign-theme-admin-wrap .form-table th {
        width: auto;
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 0;
    }

    .reign-theme-admin-wrap .form-table label {
        display: block;
        margin: 10px 0;
    }
}

@media screen and (max-width: 767px) {
    .reign-nav-tab-wrapper {
        padding: 10px;
        gap: 5px;
    }

    .reign-nav-tab-wrapper .nav-tab {
        width: 100%;
        border-left: 0;
        border-radius: 10px;
    }

    .reign-nav-tab-wrapper .nav-tab:not(:last-child) {
        margin-left: 0;
    }

    div.reign-tab {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .reign-tabcontent {
        width: 100%;
    }

    div.reign-tab button.active:after {
        display: none;
    }
}

@media (min-width: 550px) and (max-width: 782px) {
    .reign-option-boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .reign-option-info-wrapper.reign-option-tutorials-wrapper .reign-option-boxes {
        display: block;
    }

    .reign-option-box.reign-theme-videos .option-wrapper,
    .reign-theme-video {
        width: 100%;
        padding-right: 0;
    }
}

/* social media links */

.wbtm_social_links_container {
    margin: 10px 0;
}

.wbtm_social_links_container .ui-accordion-header {
    background: #fff;
}

.wbtm_social_links_container .wbtm_social_link_section {
    border: 1px solid rgba(226, 230, 235, .5);
    border-radius: 12px;
    overflow: hidden;
}

.wbtm_social_links_container .img_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.wbtm_social_link_info_box img.reign_default_cover_image {
    width: 100% !important;
    max-width: 64px;
    height: 64px !important;
    margin-left: 50px;
}

.wbtm_social_link_section .ui-accordion-header {
    padding: 15px 20px;
    margin-bottom: 0;
}

.wbtm_social_link_section .ui-accordion-header.ui-state-hover {
    box-shadow: 0 -2px 20px rgba(220, 231, 238, .4);
}

.wbtm_social_link_section .ui-accordion-content {
    padding: 1em 2.2em;
}

.wbtm_social_link_info_box .wbtm_social_add_remove {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.wbtm_social_link_info_box .name_section {
    margin-bottom: 10px;
}

.wbtm_social_link_info_box .img_section input#reign-upload-button {
    color: #fff;
    border-radius: 8px;
    background: #1d76da;
    padding: 3px 20px 5px;
    border: none;
}

.wbtm_social_link_info_box .name_section input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border-color: #ccc;
}

.wbtm_social_link_info_box .del_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.wb-xprofile-social-links-wrapper-outer .wbtm_social_links_add_more button,
.wbtm_social_link_info_box .del_section button,
.wbtm_social_link_info_box a.reign-remove-file-button {
    color: #fff;
    border: none !important;
    background: #f60000;
    box-shadow: 0 1px 0 #ccc;
    display: block;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 33px;
    height: 35px;
    margin: 0;
    padding: 0 20px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 10px;
    white-space: nowrap;
    margin-right: 10px;
    box-shadow: none;
}

.wbtm_social_link_info_box a.reign-remove-file-button:hover,
.wbtm_social_link_info_box .del_section button:hover {
    background: #d80000;
}

.wb-xprofile-social-links-wrapper-outer .wbtm_social_links_add_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 20px;
}

.wb-xprofile-social-links-wrapper-outer .wbtm_social_links_add_more button {
    margin-right: 0;
    background: #039403;
    color: #fff;
    padding: 2px 25px;
    border-radius: 10px;
    height: auto;
    border: none;
}

.wb-xprofile-social-links-wrapper-outer .wbtm_social_links_add_more button:hover {
    background: #008000;
}

/* Support Section */
.reign-option-info-wrapper.need-help-advice {
    min-height: 100%;
}

.reign-option-support-container {
    text-align: center;
    padding: 40px;
    background: #F5F7F9;
    border-radius: 12px;
}

.reign-option-support-container h3.option-title {
    font-size: 1.5em;
    line-height: normal;
    margin: 0.5em 0 0.7em;
    color: #3e5667;
}

.reign-option-support-container p.option-desc {
    font-size: 15px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto 30px auto !important;
}

.reign-option-support-container .option-link-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
}

.reign-option-support-container .option-link-area a.option-link {
    color: #2e4453;
    background: #fff;
    border-color: #e2e6eb;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 45px;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 500;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    letter-spacing: .01em;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    -webkit-transition: color .2s ease, background .2s ease, -webkit-transform .2s ease, border-color .2s ease, box-shadow .2s ease;
    transition: color .2s ease, background .2s ease, transform .2s ease, border-color .2s ease, box-shadow .2s ease;
    box-shadow: 0 5 px 15px rgba(0, 0, 0, .04);
}

.reign-option-support-container .option-link-area a.option-link:hover,
.reign-option-support-container a.option-link.reign-facebook-community {
    border-color: #0957d0;
    background: #0957d0;
    color: #fff;
}

.reign-option-support-container a.option-link.reign-facebook-community:hover {
    border-color: #0957d0;
    background: #0957d0;
    color: #fff;
}

.reign_support_faq {
    background: #fff;
    margin-top: 0 !important;
    overflow: hidden;
    padding: 70px 30px;
    box-sizing: border-box;
}

.reign-support-faq-inner {
    width: 100%;
    background: #fff;
    padding: 30px 30px 0;
    margin: 0 auto;
    max-width: 1255px;
    box-sizing: border-box;
    position: relative;
}

.reign-support-faq-inner.quick-doc-links-wrapper .reign-option-boxes,
.reign-support-faq-inner.support-doc-links-wrapper .reign-option-boxes {
    margin-top: 0;
}

@media (max-width: 1200px) {
    .reign-support-faq-inner.quick-doc-links-wrapper .reign-option-boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .reign-support-faq-inner.quick-doc-links-wrapper .reign-option-boxes {
        grid-template-columns: 1fr;
    }

    .reign-support-faq-inner {
        padding-right: 0;
        padding-left: 0;
    }
}

.option-wrapper.demo-data-install iframe {
    width: 100%;
    height: 100%;
}

.reign-support-faq-inner .quick-doc-links ul {
    list-style: disc;
    color: #1d76da;
    text-align: right;
    margin: 10px 20px 0 0;
}

.option-wrapper.demo-data-install .option-link-area {
    margin: 0;
}

.reign-support-faq-inner .quick-doc-links ul li {
    margin: 0 0 12px;
}

.reign-support-faq-inner .quick-doc-links ul li a {
    text-decoration: none;
}

.reign_support_faq .panel_left {
    float: right;
    width: 55%;
}

.reign_support_faq p {
    font-size: 18px;
}

.reign_support_faq.reign_support_faq_links p {
    font-size: 16px;
}

.reign_support_faq h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 1rem;
    padding-bottom: 1rem;
    color: #333;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reign_support_faq.reign_support_faq_links h2 {
    font-size: 16px;
}

.reign_support_faq h2:before {
    content: "";
    font-family: dashicons;
    font-size: inherit;
    right: 0;
    background-color: #f6f6f6;
    height: 38px;
    width: 38px;
    border-radius: 50px;
    vertical-align: middle;
    margin-left: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.reign_support_faq #faq-demo h2:before {
    content: "\f330";
}

.reign_support_faq #faq-create-ticket h2:before {
    content: "\f524";
}

.reign_support_faq #faq-custom-development h2:before {
    content: "\f475";
}

.reign_support_faq #faq-child-theme h2:before {
    content: "\f501";
}

.reign_support_faq .support_link_Section {
    position: relative;
    margin: 0;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(226, 230, 235, .5);
    box-shadow: 0 2px 5px rgba(143, 163, 184, .1);
}

.reign_support_faq.reign_support_faq_links .reign-support-faq-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.reign_support_faq_links .support_link_Section {
    margin: 10px;
    width: -webkit-calc(33.333333% - 20px);
    width: calc(33.333333% - 20px);
}

.reign_support_faq .panel-right {
    float: left;
    width: 40%;
}

.reign_support_faq .panel-right img {
    max-width: 100%;
}

#faq-demo iframe {
    width: 100%;
}

.reign-feature-title .dashicons {
    margin-left: 10px;
    background: #333;
    color: #fff;
}

.reign-doc a {
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
    display: block;
}

.reign-doc a:hover {
    text-decoration: underline;
}

.reign-doc a:hover span {
    text-decoration: none;
}

.reign-doc h2:before {
    content: "\f491";
}

@media (max-width: 991px) {
    .reign_support_faq_links .support_link_Section {
        width: -webkit-calc(50% - 20px);
        width: calc(50% - 20px);
    }
}

@media (max-width: 769px) {
    .reign_support_faq_links .support_link_Section {
        width: 100%;
        margin: 10px 0;
    }

    .reign_support_faq .panel-right,
    .reign_support_faq .panel_left {
        width: 100%;
    }

    .reign_support_faq .panel_left {
        margin: 0 0 20px;
    }
}

/* wbtm-radio-img-selector-sec */

.wbtm-radio-img-selector-sec ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    gap: 10px;
}

.wbtm-radio-img-selector-sec ul li {
    margin: 0;
    text-align: center;
    list-style-type: none;
}

.reign-theme-admin-wrap .wbtm-radio-img-selector-sec ul li label {
    font-size: 14px;
    display: inline-grid;
}

.wbtm-radio-img-selector-sec ul li label img {
    margin: auto;
    margin-bottom: 10px;
    opacity: 0.4;
    max-width: 100%;
    text-align: center;
    padding: 3px;
    border-radius: 12px;
    border: 1px solid #fff;
    background: #fff;
    position: relative;
    box-shadow: 0 -2px 20px rgba(220, 231, 238, .4);
}

.wbtm-radio-img-selector-sec ul li label img:hover {
    opacity: 1;
}

.wbtm-radio-img-selector-sec input[type=radio] {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.wbtm-radio-img-selector-sec input[type=radio]:checked+label img {
    opacity: 1;
}

.wbtm-radio-img-selector-sec input[type=radio]:checked+label {
    color: #1d76da;
}

/* Dark Mode Images Setting */

#dark_image_settings td:first-child,
#dark_image_settings td:nth-child(2) {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
}

#dark_image_settings tr:first-child td {
    padding: 0 10px;
    font-weight: bold;
}

#dark_image_settings td img {
    width: 35px;
    min-height: 35px;
    height: auto;
    margin-left: -1px;
    object-fit: cover;
}

#dark_image_settings td img[src=''] {
    display: none;
}

#dark_image_settings td input {
    width: 100%;
    display: block;
    max-width: 100%;
    height: -webkit-calc(2.25rem + 2px);
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 0;
    outline: 0 !important;
}

#dark_image_settings td:first-child button,
#dark_image_settings td:nth-child(2) button {
    margin-right: -1px;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}

#dark_image_settings tr:nth-child(2) .reign_remove_row_image {
    display: none;
}

#dark_image_settings td a.reign_add_row_image.button,
#dark_image_settings tr a.reign_remove_row_image.button.button-link-delete {
    color: #fff !important;
    border: none !important;
    padding: 5px 25px;
    background: #1d76da !important;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
}

#dark_image_settings tr a.reign_remove_row_image.button.button-link-delete {
    background: #e93c3e !important;
    color: #fff !important;
    border: none !important;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 13px;
}

#dark_image_settings td {
    margin: 10px 0px 10px 15px;
    padding: 15px 0;
}

@media only screen and (max-width: 600px) {
    #dark_image_settings {
        overflow-x: auto;
    }

    #dark_image_settings table.form-table {
        min-width: 600px;
    }
}

/* License Input */
.reign-license-page-inner .wrap form table.form-table {
    margin: 0;
}

.reign-license-page-inner .wrap form table.form-table tr th {
    margin: 0 0 10px;
    vertical-align: middle;
    padding: 10px;
}

.reign-license-page-inner .wrap form table.form-table tr td {
    padding: 10px;
}

.reign-license-page-inner .wrap form table.form-table tr p.submit {
    margin: 0;
    padding: 0;
}

.reign-license-page-inner .wrap form table.form-table p.description {
    font-weight: 500;
    color: #333;
}

.reign_license_page input.regular-text,
.reign_support_faq input.regular-text {
    display: block;
    width: 100%;
    max-width: 100%;
    height: -webkit-calc(2.25rem + 2px);
    height: -webkit-calc(2.5rem + 2px);
    height: calc(2.5rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: 0 !important;
}

/* Setting Submit Button */

.reign_license_page input.button-secondary,
.reign_support_faq input.button-secondary,
input#reign-theme-options-submit {
    text-decoration: none;
    padding: 13px 35px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid;
    display: inline-block;
    background: #1d76da;
    color: #fff;
    border-color: #1d76da;
    line-height: normal;
    text-align: center;
    font-size: 14px;
}

input#reign-theme-options-submit:hover,
.reign_license_page input.button-secondary:hover,
.reign_support_faq input.button-secondary:hover {
    background: #1d76da;
    color: #fff;
    border-color: #1d76da;
    box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, .1);
}

/* Checkbox Button Style */

.rg-poststuff-inner {
    position: relative;
    background: #fff;
}

.reign-theme-options-wrapper {
    width: 100%;
    background: #fff;
    padding: 70px 30px;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 400px;
    box-sizing: border-box;
    position: relative;
}

#reign-theme-options-form .reign-tabcontent input[type=checkbox] {
    background-color: #fff;
    border: 1px solid #8b8b8b !important;
    width: 70px;
    line-height: 30px;
    height: 31px;
    margin-left: 5px;
    position: relative;
    border-radius: 100px;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: none;
}

#reign-theme-options-form .reign-tabcontent input[type=checkbox]:checked {
    background-color: #1d76da;
    border-color: #1d76da !important;
}

#reign-theme-options-form .reign-tabcontent input[type=checkbox]:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #8b8b8b;
    right: 6px;
    top: 5px;
    border-radius: 100px;
    -webkit-transition: .4s;
    transition: .4s;
}

#reign-theme-options-form .reign-tabcontent input[type=checkbox]:checked::before {
    background: #ffffff;
    -webkit-transform: translateX(-38px);
    -ms-transform: translateX(-38px);
    transform: translateX(-38px);
    margin: 0;
}

#reign-theme-options-form .reign-tabcontent input[type="checkbox"]:after {
    content: "No";
    font-size: 14px;
    color: #777;
    position: absolute;
    top: 0px;
    left: 15px;
    font-weight: 500;
}

#reign-theme-options-form .reign-tabcontent input[type=checkbox]:checked::after {
    content: "Yes";
    left: 35px;
    color: #fff;
}

/* WB Switch */

.wb-switch {
    display: inline-block;
    border: none !important;
    position: relative;
    line-height: 0;
    height: 32px;
    width: 70px;
    min-width: 70px;
    box-shadow: none;
}

.wb-switch input {
    display: none;
}

.wb-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 8px;
    background: #ed6f6f;
    -webkit-transition: .4s;
    transition: .4s;
}

.wb-slider:before {
    content: "";
    bottom: 4px;
    position: absolute;
    top: 6px;
    right: 6px !important;
    width: 24px;
    height: 20px;
    background-color: #fff;
    border-radius: 6px;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 35%);
}

.wb-switch input:checked+.wb-slider {
    background-color: #4fb845;
}

.wb-switch input:checked+.wb-slider:before {
    -webkit-transform: translateX(-33px);
    -ms-transform: translateX(-33px);
    transform: translateX(-33px);
    background-color: #ffffff;
    margin: 0 !important;
    padding: 0 !important;
}

.wb-slider.wb-round::after {
    content: "OFF";
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 16px;
    left: 11px;
}

.wb-switch input:checked+.wb-slider::after {
    content: "ON";
    left: unset;
    right: 10px;
}

/* Range Slider */

.reign-slidecontainer {
    position: relative;
    margin: 0 auto 1rem;
}

.reign-slidecontainer .reign-slider {
    width: 100%;
}

.reign-slidecontainer .reign-slider-value {
    background: #444;
    color: #fff;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    top: 100%;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.reign-slidecontainer .reign-slider-value::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #444;
    top: -1px;
    right: 50%;
}

/*Reign Peepso setting*/
#peepso_group_cover_image img.reign_default_cover_image,
#peepso_profile_cover_image img.reign_default_cover_image {
    background: #fff;
    box-shadow: 0 -2px 20px rgba(220, 231, 238, .4);
    display: block;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ddd;
    position: relative;
}

#peepso_group_cover_image a.reign-remove-file-button,
#peepso_group_cover_image input#reign-upload-button,
#peepso_profile_cover_image a.reign-remove-file-button,
#peepso_profile_cover_image input#reign-upload-button {
    color: #fff !important;
    border: none !important;
    padding: 5px 25px;
    background: #1d76da !important;
    border-radius: 10px;
    font-size: 13px;
    display: inline-block;
    margin-left: 15px;
    line-height: 30px;
    text-decoration: none !important;
}

#peepso_group_cover_image a.reign-remove-file-button,
#peepso_profile_cover_image a.reign-remove-file-button {
    background: #e93c3e !important;
}
/*# sourceMappingURL=vertical-tabs-skeleton.css.map */